In [1]:
import pandas as pd

In [2]:
# load the iris data

file_path = "./NYC_Tickets_2017.csv.crdownload"

df = pd.read_csv(file_path)

In [3]:
df

,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Violation Location,Violation Precinct,Issuer Precinct,Issuer Code,Issuer Command,Violation Time,Violation County,Street Name,Law Section,Sub Division,Vehicle Color,Vehicle Year,Violation Description
0,PAS,7/10/2016,7,SUBN,TOYOT,V,NaN,0,0,0,NaN,0143A,BX,ALLERTON AVE (W/B) @,1111,D,GY,2001,FAILURE TO STOP AT RED LIGHT
1,PAS,7/8/2016,7,SUBN,TOYOT,V,NaN,0,0,0,NaN,0400P,BX,ALLERTON AVE (W/B) @,1111,D,GY,2001,FAILURE TO STOP AT RED LIGHT
2,PAS,8/23/2016,5,SUBN,FORD,V,NaN,0,0,0,NaN,0233P,BX,SB WEBSTER AVE @ E 1,1111,C,BK,2004,BUS LANE VIOLATION
3,COM,6/14/2017,47,REFG,MITSU,T,14.0,14,14,359594,T102,1120A,NY,7th Ave,408,l2,WH,2007,47-Double PKG-Midtown
4,COM,11/21/2016,69,DELV,INTER,T,13.0,13,13,364832,T102,0555P,NY,6th Ave,408,h1,WHITE,2007,69-Failure to Disp Muni Recpt
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,PAS,6/9/2017,36,4DSD,CHEVR,V,NaN,0,0,0,NaN,0200P,QN,WB HILLSIDE AVE @ 23,1180,B,RD,2003,PHTO SCHOOL ZN SPEED VIOLATION
1048571,PAS,12/11/2016,71,4DSD,NISSA,T,81.0,81,81,357358,T301,1001A,K,Putnam Ave,408,j6,GY,2007,71A-Insp Sticker Expired (NYS)
1048572,PAS,4/13/2017,38,4DSD,HONDA,T,60.0,60,60,362530,T302,0202P,K,Coney Island Ave,408,h1,BL,2015,38-Failure to Display Muni Rec
1048573,PAS,4/4/2017,21,SUBN,VOLVO,T,83.0,83,83,364015,T301,0907A,K,Putnam Ave,408,d1,GY,2004,21-No Parking (street clean)
1048574,PAS,2/24/2017,50,4DSD,HONDA,T,112.0,112,112,363063,T402,0458P,Q,102nd St,408,e5,BLUE,0,50-Crosswalk

In [4]:
# Drop null rows
df = df.dropna()
df

,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Violation Location,Violation Precinct,Issuer Precinct,Issuer Code,Issuer Command,Violation Time,Violation County,Street Name,Law Section,Sub Division,Vehicle Color,Vehicle Year,Violation Description
3,COM,6/14/2017,47,REFG,MITSU,T,14.0,14,14,359594,T102,1120A,NY,7th Ave,408,l2,WH,2007,47-Double PKG-Midtown
4,COM,11/21/2016,69,DELV,INTER,T,13.0,13,13,364832,T102,0555P,NY,6th Ave,408,h1,WHITE,2007,69-Failure to Disp Muni Recpt
11,COM,9/27/2016,19,DELV,KENWO,T,18.0,18,18,357355,T400,0707A,NY,6th Ave,408,c3,RD,2013,19-No Stand (bus stop)
15,PAS,7/7/2016,71,4DSD,VOLKS,T,120.0,120,120,356557,T303,0645P,R,N St Austins Pl,408,j6,GY,2012,71-Insp. Sticker Missing (NYS
17,COM,1/26/2017,64,VAN,INTER,T,17.0,17,17,363557,T102,0256P,NY,E 43rd St,408,C8,BROWN,2007,"64-No STD Ex Con/DPL, D/S Dec"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048569,PAS,3/12/2017,14,SUBN,ME/BE,T,109.0,109,109,357347,T401,1046A,Q,Main St,408,c,BLACK,0,14-No Standing
1048571,PAS,12/11/2016,71,4DSD,NISSA,T,81.0,81,81,357358,T301,1001A,K,Putnam Ave,408,j6,GY,2007,71A-Insp Sticker Expired (NYS)
1048572,PAS,4/13/2017,38,4DSD,HONDA,T,60.0,60,60,362530,T302,0202P,K,Coney Island Ave,408,h1,BL,2015,38-Failure to Display Muni Rec
1048573,PAS,4/4/2017,21,SUBN,VOLVO,T,83.0,83,83,364015,T301,0907A,K,Putnam Ave,408,d1,GY,2004,21-No Parking (street clean)
1048574,PAS,2/24/2017,50,4DSD,HONDA,T,112.0,112,112,363063,T402,0458P,Q,102nd St,408,e5,BLUE,0,50-Crosswalk

In [5]:
#list dataframe data types
df.dtypes

Plate Type                object
Issue Date                object
Violation Code             int64
Vehicle Body Type         object
Vehicle Make              object
Issuing Agency            object
Violation Location       float64
Violation Precinct         int64
Issuer Precinct            int64
Issuer Code                int64
Issuer Command            object
Violation Time            object
Violation County          object
Street Name               object
Law Section                int64
Sub Division              object
Vehicle Color             object
Vehicle Year               int64
Violation Description     object
dtype: object

In [6]:
# Determine the number of unique values in each column 
df.nunique()

Plate Type                 70
Issue Date                361
Violation Code             79
Vehicle Body Type          53
Vehicle Make              226
Issuing Agency              1
Violation Location         77
Violation Precinct         77
Issuer Precinct            77
Issuer Code              2109
Issuer Command             33
Violation Time           1440
Violation County            5
Street Name              5759
Law Section                 1
Sub Division               93
Vehicle Color              94
Vehicle Year               75
Violation Description      97
dtype: int64

Violation time has 1440 unique value and it's an object. If we use this, we'll need to convert to date.<br> 
Issue date is also an object and has 361 unique values <br>
-BM

In [7]:
# drop issuing agency
df.drop(columns = ['Issuing Agency', 'Law Section'], inplace= True)

/Users/Beatriz/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

# Take a look at the following columns:

Plate Type                 70 counted 
Issue Date                361
Violation Code             79 Counted
Vehicle Body Type          53 Counted
Vehicle Make              226 Counted
Issuing Agency              1 Dropped
Violation Location         77
Violation Precinct         77
Issuer Precinct            77
Issuer Code              2109 Counted
Issuer Command             33
Violation Time           1440
Violation County            5
Street Name              5759
Law Section                 1 Dropped
Sub Division               93
Vehicle Color              94 Counted
Vehicle Year               75
Violation Description      97
    
    
    
    
    
    
   Order Counted 
   
    Vehicle Color              94 object
    Plate Type                 70 object
    Violation Code             79 int 
    Vehicle Body Type          53
    Vehicle Make              226

In [8]:
# Check value distribution for 'Vehicle Color'
color_count = df['Vehicle Color'].value_counts()
color_count

WH       125914
GY       114848
WHITE    103684
BK        98650
BLACK     50144
          ...
BRT           1
PR/           1
LTR           1
MRB           1
BR/           1
Name: Vehicle Color, Length: 94, dtype: int64

> consider dropping values with 1 count <br>
> consolidate colors (replace value "BK" and "BL" with "Black" (NEED TO FIGURE OUT CODE FOR THIS)

In [16]:
# Check value distribution for 'Plate Type' 70 object
Plate_Type_count = df['Plate Type'].value_counts()
Plate_Type_count

PAS    536737
COM    151060
OMT     25594
OMS      7331
SRF      5669
        ...
LUA         1
ORM         1
WUG         1
LTR         1
FPW         1
Name: Plate Type, Length: 70, dtype: int64

In [17]:
# Check value distribution for 'Violation Code' 79 int
Violation_Code_count = df['Violation Code'].value_counts()
Violation_Code_count

21    120491
38    104002
14     79724
37     58257
20     54826
       ...
97         1
44         1
28         1
92         1
93         1
Name: Violation Code, Length: 79, dtype: int64

In [18]:
# how many only show up once? 
less_than_1_Violation_Code_count= list(Violation_Code_count[Violation_Code_count ==1].index)
less_than_1_Violation_Code_count

[97, 44, 28, 92, 93]

In [19]:
# Check value distribution for 'Vehicle Body Type' 53 Object
Vehicle_Body_Type_count = df['Vehicle Body Type'].value_counts()
Vehicle_Body_Type_count

SUBN    254462
4DSD    233036
VAN     117425
DELV     55783
2DSD     22248
PICK     21671
REFG      9136
TRAC      6132
UTIL      5169
TAXI      3437
CONV      3318
TRLR      2592
BUS       2542
MCY       2139
TK        1948
FLAT      1106
TR/C       817
DUMP       769
T/CR       741
SEDN       487
STAK       406
TR         339
SEMI       316
BOAT       243
TOW        232
SWT        150
TANK       103
LIM         80
BS          74
P/SH        57
S/SP        53
MCC         48
H/WH        43
W/DR        31
MOBL        28
SN/P        27
TRAV        25
CUST        24
LTRL        20
TR/E        18
CMIX        13
H/TR        10
POLE         9
R/RD         9
EMVR         8
RD/S         6
RPLC         3
FPM          2
WSR          2
HRSE         1
H/IN         1
LSV          1
RBM          1
Name: Vehicle Body Type, dtype: int64

In [21]:
# Check value distribution for 'Vehicle Make' 226 object

Vehicle_Make_count = df['Vehicle Make'].value_counts()
Vehicle_Make_count

FORD     94656
TOYOT    77530
HONDA    71045
NISSA    58689
CHEVR    52819
         ...
PTRB         1
CECK         1
UMC          1
ANAK         1
UNCB         1
Name: Vehicle Make, Length: 226, dtype: int64

In [22]:
# see rare vehicles 
rare_vehicle = list(Vehicle_Make_count[Vehicle_Make_count ==1].index)
rare_vehicle

['CORB',
 'BUSI',
 'AM/G',
 'LR/R',
 'SCAN',
 'TR/T',
 'TURT',
 'CITC',
 'BUGAT',
 'CHEB',
 'BOUN',
 'AL/D',
 'PICK',
 'SIMCA',
 'OPELP',
 'ST/C',
 'YUKO',
 'WK/H',
 'WE/S',
 'YANH',
 'MBEN',
 'ROCK',
 'WH/G',
 'FE/C',
 'Z',
 'ISUA',
 'Thom',
 'HIND',
 'FLAI',
 'ADD',
 'ITNE',
 'SERR',
 'LEIS',
 'CABC',
 'VPG',
 'NEWF',
 'JAMB',
 'KIIA',
 'BGTI',
 'MIDA',
 'MREC',
 'ITNL',
 'CHAM',
 'YUGO',
 'BWN',
 'HINI',
 'AXAT',
 'STL',
 'SOUT',
 'UD/N',
 'PTRB',
 'CECK',
 'UMC',
 'ANAK',
 'UNCB']

In [ ]:
# code for Binning or replacing value names 

# # Determine which values to replace if counts are less than ...?
# replace_INCOME_AMT = list(INCOME_AMT_count[INCOME_AMT_count < 500].index)


# # Replace in dataframe
# for app in replace_INCOME_AMT:
#     application_df.INCOME_AMT = application_df.INCOME_AMT.replace(app,"5M+")
    
# # Check to make sure binning was successful
# application_df.INCOME_AMT.value_counts()

In [ ]:
#Find null values
# for column in df_shopping.columns:
#         print(f"Column {column} has {df_shopping[column].isnull().sum()} null values ")

In [ ]:
# Remove the CustomerID Column
# df_shopping.drop(columns = ['CustomerID'], inplace= True)
# df_shopping.head()

In [ ]:
# output_file_path = "./clean_parking_violations.csv"
# new_df.to_csv(output_file_path, index=False)