In [1]:
import pandas as pd
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
# Postgres username, password, and database name (change accordingly)
postgres_address = 'localhost'
postgres_port = '5432' 
postgres_username = 'postgres' 
postgres_password = 'marines1775'
postgres_dbname = 'NYC_Tickets'
# A long string that contains the necessary Postgres login information
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
                .format(username=postgres_username,
                        password=postgres_password,
                        ipaddress=postgres_address,
                        port=postgres_port,
                        dbname=postgres_dbname))
# Create the connection
cnx = create_engine(postgres_str)

In [4]:
# Load the data
NYC_Tickets_df = pd.read_sql_query('''SELECT * FROM "Vehicle Description";''', cnx)
NYC_Tickets_df.head()

   vehicle_id plate_type vehicle_body_type vehicle_color  vehicle_year
0           0        PAS              SUBN         SILVE          2008
1           1        PAS              SUBN            WH          2014
2           2        PAS              4DSD         BLACK             0
3           3        PAS              4DSD           RED             0
4           4        PAS              4DSD            GY          2011