In [4]:
# imports
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [5]:
# read csv

nyc_df = pd.read_csv("./Data/NYC_Tickets_2017.csv")

nyc_df.head(15)

,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Violation Location,Violation Precinct,Issuer Precinct,Issuer Code,Issuer Command,Violation Time,Violation County,Street Name,Law Section,Sub Division,Vehicle Color,Vehicle Year,Violation Description
0,PAS,7/10/2016,7,SUBN,TOYOT,V,NaN,0,0,0,NaN,0143A,BX,ALLERTON AVE (W/B) @,1111,D,GY,2001,FAILURE TO STOP AT RED LIGHT
1,PAS,7/8/2016,7,SUBN,TOYOT,V,NaN,0,0,0,NaN,0400P,BX,ALLERTON AVE (W/B) @,1111,D,GY,2001,FAILURE TO STOP AT RED LIGHT
2,PAS,8/23/2016,5,SUBN,FORD,V,NaN,0,0,0,NaN,0233P,BX,SB WEBSTER AVE @ E 1,1111,C,BK,2004,BUS LANE VIOLATION
3,COM,6/14/2017,47,REFG,MITSU,T,14.0,14,14,359594,T102,1120A,NY,7th Ave,408,l2,WH,2007,47-Double PKG-Midtown
4,COM,11/21/2016,69,DELV,INTER,T,13.0,13,13,364832,T102,0555P,NY,6th Ave,408,h1,WHITE,2007,69-Failure to Disp Muni Recpt
5,PAS,6/13/2017,7,SUBN,ME/BE,V,NaN,0,0,0,NaN,0852P,QN,NORTHERN BLVD (E/B),1111,D,WH,2012,FAILURE TO STOP AT RED LIGHT
6,PAS,8/3/2016,40,SDN,TOYOT,P,71.0,71,71,960290,71,0215A,K,KINGSTON,408,C3,WHITE,0,NaN
7,PAS,12/21/2016,36,UT,BMW,V,NaN,0,0,0,NaN,0758A,BX,EB E GUN HILL RD @ B,1180,B,NaN,2001,PHTO SCHOOL ZN SPEED VIOLATION
8,OMS,11/21/2016,36,SUBN,DODGE,V,NaN,0,0,0,NaN,1005A,QN,NB BAISLEY BLVD @ 15,1180,B,BK,2016,PHTO SCHOOL ZN SPEED VIOLATION
9,PAS,10/5/2016,5,4D,BMW,V,NaN,0,0,0,NaN,0845A,BX,SB WEBSTER AVE @ E 2,1111,C,BLK,2008,BUS LANE VIOLATION
10,COM,1/11/2017,78,DELV,FRUEH,P,106.0,106,106,960979,106,0015A,Q,ST 115 AVE,408,E2,WHITE,2015,NaN
11,COM,9/27/2016,19,DELV,KENWO,T,18.0,18,18,357355,T400,0707A,NY,6th Ave,408,c3,RD,2013,19-No Stand (bus stop)
12,OMT,10/27/2016,36,VAN,FORD,V,NaN,0,0,0,NaN,1022A,QN,EB HORACE HARDING EX,1180,B,WH,2008,PHTO SCHOOL ZN SPEED VIOLATION
13,PAS,9/30/2016,21,SDN,NISSA,P,44.0,44,44,905733,44,1150A,BX,NELSON AVE,408,F1,TAN,0,NaN
14,PAS,2/4/2017,40,TAXI,TOYOT,P,73.0,73,73,960758,73,0525A,K,MCDOUGAL ST,408,F1,BLK,2015,NaN

In [6]:
# looking at columns

nyc_df.columns

Index(['Plate Type', 'Issue Date', 'Violation Code', 'Vehicle Body Type',
       'Vehicle Make', 'Issuing Agency', 'Violation Location',
       'Violation Precinct', 'Issuer Precinct', 'Issuer Code',
       'Issuer Command', 'Violation Time', 'Violation County', 'Street Name',
       'Law Section', 'Sub Division', 'Vehicle Color', 'Vehicle Year',
       'Violation Description'],
      dtype='object')

In [7]:
# keeping columns needed for analysis

nyc_df = pd.DataFrame(nyc_df, columns = 
     ['Plate_Type', 'Violation_Code', 'Vehicle_Body_Type','Violation_Time', 'Violation_County',
     'Vehicle_Color', 'Vehicle_Year'])

In [8]:
nyc_df.head(10)

,Plate_Type,Violation_Code,Vehicle_Body_Type,Violation_Time,Violation_County,Vehicle_Color,Vehicle_Year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
nyc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Plate_Type         0 non-null      float64
 1   Violation_Code     0 non-null      float64
 2   Vehicle_Body_Type  0 non-null      float64
 3   Violation_Time     0 non-null      float64
 4   Violation_County   0 non-null      float64
 5   Vehicle_Color      0 non-null      float64
 6   Vehicle_Year       0 non-null      float64
dtypes: float64(7)
memory usage: 56.0 MB

total number of enetries = 1,048,575

In [10]:
 nyc_df.dtypes

Plate_Type           float64
Violation_Code       float64
Vehicle_Body_Type    float64
Violation_Time       float64
Violation_County     float64
Vehicle_Color        float64
Vehicle_Year         float64
dtype: object

Violation_code and Violation_Year are integers. The rest are strings. Violation_Time is in string, which could be prblmeatic later on in analysis.

In [11]:
# different plate types

nyc_df['Plate_Type'].value_counts()

Series([], Name: Plate_Type, dtype: int64)

Passenger vehicles are the most getting the violations. Commerical is second, but these vehicles are mostly used for business. Passenger vehicles would represent the common public.

In [12]:
# looking at violation codes

nyc_df['Violation_Code'].value_counts()

# Kept 14, 20, 21, 36, 38

# 14 -	General No Standing: Standing or parking where standing is not allowed by sign, street marking or; traffic control device.
# 20 - 	General No Parking: No parking where parking is not allowed by sign, street marking or traffic control device.
# 21 - Street Cleaning: No parking where parking is not allowed by sign, street marking or traffic control device.
# 36 - Exceeding the posted speed limit in or near a designated school zone.
# 38 -Failing to show a receipt or tag in the windshield.

Series([], Name: Violation_Code, dtype: int64)

In [13]:
# vehicle_body_type counts

nyc_df['Vehicle_Body_Type'].value_counts()


# Kept these types in filtered data : 2 DSD (two door sedan), 4 DSD (four door sedan), PICK (pickup), SUBN (suburben)

Series([], Name: Vehicle_Body_Type, dtype: int64)

Most popular cars were suburbans and 4 door sedans. These are probably the most sold to the public. Van and delivery cars were 3rd and 4th most common for violation, but these types of vehicles are mostly used for commercial (business) purposes.

In [14]:
# looking at different counties 

nyc_df['Violation_County'].value_counts()

Series([], Name: Violation_County, dtype: int64)

New York, Kings County, Queens, Bronx, and Brooklyn are the most popular counties for violations.

In [15]:
# looking at car colors 

nyc_df['Vehicle_Color'].value_counts().head(50)

## Colors kept:
## WH, WHITE, GY, GREY, BK, BLACK, BL, SILVE, BLUE, RED, RD, GR, GREEN,YW, YELLO, ORANG, PURPL

Series([], Name: Vehicle_Color, dtype: int64)

Most popular colors were gray, white, and black. This could skew data.

In [16]:
# Looing at vehicle year

nyc_df['Vehicle_Year'].value_counts().head(50)

Series([], Name: Vehicle_Year, dtype: int64)

A lot of 0 values. This could give us some poor results. The most popular car year for violations was 2015.

In [17]:
# looking at violation times

nyc_df['Violation_Time'].value_counts().head(10)

Series([], Name: Violation_Time, dtype: int64)

Most tickets are in the morning, between the hours of 8:30 AM to 11:45 AM. The data is also in string form. This could cause some issues.

Next, I took most popular value types and filtered it out in excel. I uploaded the filtered excel sheet and continued the analysis.

In [18]:
# upload filtered dataset

nyc_filtered = pd.read_csv("./Data/NYC_Tickets_Filtered.csv")

nyc_filtered.head(5)

C:\Users\tabat\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (0,2,3,4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Plate_Type,Violation_Code,Vehicle_Body_Type,Vehicle_Color,Vehicle_Year,Violation_County,Violation_Time
0,PAS,21.0,SUBN,SILVE,2008,K,0950A
1,PAS,38.0,SUBN,WH,2014,NY,0817A
2,PAS,21.0,4DSD,RED,0,K,0820A
3,PAS,36.0,4DSD,GY,2011,QN,1047A
4,PAS,14.0,4DSD,WHITE,0,NY,1031A

In [19]:
nyc_filtered.info()

# checking for nulls
nyc_filtered.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 7 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Plate_Type         312025 non-null   object
 1   Violation_Code     312025 non-null   float64
 2   Vehicle_Body_Type  312025 non-null   object
 3   Vehicle_Color      312025 non-null   object
 4   Vehicle_Year       1048575 non-null  object
 5   Violation_County   1048386 non-null  object
 6   Violation_Time     1048572 non-null  object
dtypes: float64(1), object(6)
memory usage: 56.0+ MB

Plate_Type           736550
Violation_Code       736550
Vehicle_Body_Type    736550
Vehicle_Color        736550
Vehicle_Year              0
Violation_County        189
Violation_Time            3
dtype: int64

In three rows there are 709,815 na ammounts. Having to remove this data could produce poor results in our model.

In [20]:
#dropping nulls
nyc_drop = nyc_filtered.dropna()
nyc_drop.info()
nyc_drop.head(15)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 311836 entries, 0 to 312024
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Plate_Type         311836 non-null  object
 1   Violation_Code     311836 non-null  float64
 2   Vehicle_Body_Type  311836 non-null  object
 3   Vehicle_Color      311836 non-null  object
 4   Vehicle_Year       311836 non-null  object
 5   Violation_County   311836 non-null  object
 6   Violation_Time     311836 non-null  object
dtypes: float64(1), object(6)
memory usage: 19.0+ MB

,Plate_Type,Violation_Code,Vehicle_Body_Type,Vehicle_Color,Vehicle_Year,Violation_County,Violation_Time
0,PAS,21.0,SUBN,SILVE,2008,K,0950A
1,PAS,38.0,SUBN,WH,2014,NY,0817A
2,PAS,21.0,4DSD,RED,0,K,0820A
3,PAS,36.0,4DSD,GY,2011,QN,1047A
4,PAS,14.0,4DSD,WHITE,0,NY,1031A
5,PAS,36.0,SUBN,BL,2011,QN,0952A
6,PAS,20.0,SUBN,BK,2016,NY,0921A
7,PAS,20.0,SUBN,BK,2010,BX,0255A
8,PAS,38.0,4DSD,GY,2015,NY,0936P
9,PAS,38.0,SUBN,GY,2005,K,0958A
10,PAS,21.0,2DSD,GY,2006,Q,0936A
11,PAS,38.0,4DSD,GY,2013,Q,1003A
12,PAS,20.0,SUBN,BL,2014,K,0304P
13,PAS,21.0,SUBN,WH,2011,Q,0812A
14,PAS,21.0,SUBN,BL,2006,Q,0104P

Now the data has reduced to having 338,523 entries

In [21]:
# Fix Colors 
def change_color(color):
  if color == 'GY':
    return 'GREY'
  elif color == 'BK':
    return 'BLACK'
  elif color == 'BLAK':
    return 'BLACK'
  elif color == 'WH':
    return 'WHITE'
  elif color == 'BL':
    return 'BLUE'
  elif color == 'RD':
    return 'RED'
  elif color == 'SILVE':
    return 'SILVER'
  elif color == 'GR':
    return 'GREEN'
  elif color == 'YW':
    return 'YELLOW'
  elif color == 'YELLO':
    return 'YELLOW'
  elif color == 'ORANG':
    return 'ORANGE'
  elif color == 'PURPL':
    return 'PURPLE'
  else: return color;
    
nyc_drop['Vehicle_Color']= nyc_drop['Vehicle_Color'].apply(change_color)
nyc_drop

C:\Users\tabat\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Plate_Type,Violation_Code,Vehicle_Body_Type,Vehicle_Color,Vehicle_Year,Violation_County,Violation_Time
0,PAS,21.0,SUBN,SILVER,2008,K,0950A
1,PAS,38.0,SUBN,WHITE,2014,NY,0817A
2,PAS,21.0,4DSD,RED,0,K,0820A
3,PAS,36.0,4DSD,GREY,2011,QN,1047A
4,PAS,14.0,4DSD,WHITE,0,NY,1031A
...,...,...,...,...,...,...,...
312020,PAS,14.0,4DSD,BLACK,2011,NY,0412P
312021,PAS,21.0,SUBN,GREEN,2004,Q,1201P
312022,PAS,36.0,4DSD,RED,2003,QN,0200P
312023,PAS,38.0,4DSD,BLUE,2015,K,0202P
312024,PAS,21.0,SUBN,GREY,2004,K,0907A

In [24]:
# drop Vehicle_Year rows with 0's
nyc_drop= nyc_drop[nyc_drop.Vehicle_Year != 0]
nyc_drop

,Plate_Type,Violation_Code,Vehicle_Body_Type,Vehicle_Color,Vehicle_Year,Violation_County,Violation_Time
0,PAS,21.0,SUBN,SILVER,2008,K,0950A
1,PAS,38.0,SUBN,WHITE,2014,NY,0817A
3,PAS,36.0,4DSD,GREY,2011,QN,1047A
5,PAS,36.0,SUBN,BLUE,2011,QN,0952A
6,PAS,20.0,SUBN,BLACK,2016,NY,0921A
...,...,...,...,...,...,...,...
312020,PAS,14.0,4DSD,BLACK,2011,NY,0412P
312021,PAS,21.0,SUBN,GREEN,2004,Q,1201P
312022,PAS,36.0,4DSD,RED,2003,QN,0200P
312023,PAS,38.0,4DSD,BLUE,2015,K,0202P
312024,PAS,21.0,SUBN,GREY,2004,K,0907A

In [25]:
# upload dropped na dataframe to csv

nyc_drop.to_csv('dropped_na_nyc_filtered.csv', index = False)