<a href="https://colab.research.google.com/github/alorenz465446/NYC_Parking_Tickets/blob/main/NYC_Database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# import dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from google.colab import files
data_to_load = files.upload()

Saving NYC_Tickets_2017.csv to NYC_Tickets_2017.csv

In [5]:
nyc_df = pd.read_csv("NYC_Tickets_2017.csv", low_memory=False)
nyc_df

,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Violation Location,Violation Precinct,Issuer Precinct,Issuer Code,Issuer Command,Violation Time,Violation County,Street Name,Law Section,Sub Division,Vehicle Color,Vehicle Year,Violation Description
0,PAS,7/10/2016,7,SUBN,TOYOT,V,NaN,0,0,0,NaN,0143A,BX,ALLERTON AVE (W/B) @,1111,D,GY,2001,FAILURE TO STOP AT RED LIGHT
1,PAS,7/8/2016,7,SUBN,TOYOT,V,NaN,0,0,0,NaN,0400P,BX,ALLERTON AVE (W/B) @,1111,D,GY,2001,FAILURE TO STOP AT RED LIGHT
2,PAS,8/23/2016,5,SUBN,FORD,V,NaN,0,0,0,NaN,0233P,BX,SB WEBSTER AVE @ E 1,1111,C,BK,2004,BUS LANE VIOLATION
3,COM,6/14/2017,47,REFG,MITSU,T,14.0,14,14,359594,T102,1120A,NY,7th Ave,408,l2,WH,2007,47-Double PKG-Midtown
4,COM,11/21/2016,69,DELV,INTER,T,13.0,13,13,364832,T102,0555P,NY,6th Ave,408,h1,WHITE,2007,69-Failure to Disp Muni Recpt
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,PAS,6/9/2017,36,4DSD,CHEVR,V,NaN,0,0,0,NaN,0200P,QN,WB HILLSIDE AVE @ 23,1180,B,RD,2003,PHTO SCHOOL ZN SPEED VIOLATION
1048571,PAS,12/11/2016,71,4DSD,NISSA,T,81.0,81,81,357358,T301,1001A,K,Putnam Ave,408,j6,GY,2007,71A-Insp Sticker Expired (NYS)
1048572,PAS,4/13/2017,38,4DSD,HONDA,T,60.0,60,60,362530,T302,0202P,K,Coney Island Ave,408,h1,BL,2015,38-Failure to Display Muni Rec
1048573,PAS,4/4/2017,21,SUBN,VOLVO,T,83.0,83,83,364015,T301,0907A,K,Putnam Ave,408,d1,GY,2004,21-No Parking (street clean)
1048574,PAS,2/24/2017,50,4DSD,HONDA,T,112.0,112,112,363063,T402,0458P,Q,102nd St,408,e5,BLUE,0,50-Crosswalk

In [6]:
nyc_df.sort_values(
    by = ['Violation Code'],
    axis = 0, 
    ascending = True, 
    inplace = False, 
    kind = 'quicksort', 
    na_position = 'last', 
    ignore_index = False, 
    key = None
)

,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Violation Location,Violation Precinct,Issuer Precinct,Issuer Code,Issuer Command,Violation Time,Violation County,Street Name,Law Section,Sub Division,Vehicle Color,Vehicle Year,Violation Description
891126,PAS,5/21/2017,0,SDN,NISSA,P,79.0,79,79,961879,79,1239P,K,FULTON ST,408,NaN,WHITE,2014,NaN
517997,PAS,5/30/2017,0,NaN,NaN,T,NaN,0,0,365908,T302,0335P,NaN,NaN,408,NaN,NaN,0,NaN
621972,PAS,6/8/2017,0,NaN,NaN,T,NaN,0,0,356979,T401,1021A,NaN,NaN,408,NaN,NaN,0,NaN
423131,COM,5/8/2017,0,NaN,FORD,T,NaN,0,0,350439,T103,0123P,NaN,NaN,408,NaN,WHITE,2009,NaN
588049,PAS,5/10/2017,0,NaN,NaN,T,NaN,0,0,361854,T401,1114A,NaN,NaN,408,NaN,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414396,PAS,9/8/2016,99,SDN,NISSA,P,70.0,70,70,951249,70,0810A,K,LAWRENCE AVE,408,M2,GY,2005,NaN
409597,PAS,5/22/2017,99,SDN,CHRYS,P,52.0,52,52,958125,52,0055A,BX,AQUEDUCT AVE,408,99,BL,0,NaN
622092,PAS,10/25/2016,99,VAN,HONDA,X,30.0,30,982,600127,982,0543A,NY,RIVER AVE,408,C4,TAN,2003,NaN
1026700,PAS,7/2/2016,99,SDN,ACURA,X,46.0,46,982,600128,982,0127P,BX,ROBERTO CLEMENTE,408,99,BK,1999,NaN
226015,PAS,6/7/2017,99,SDN,NISSA,P,76.0,76,76,960724,76,0538P,K,HALLECK ST,408,J6,GREEN,0,NaN

In [14]:
nyc_df['Violation Code'].value_counts().head(10)

21    149217
36    134108
38    104847
14     87812
20     60748
37     58601
46     57616
71     50988
40     50888
7      46286
Name: Violation Code, dtype: int64

## 4 Different Tables

# Parking Violations

1. 38 - 	Failing to show a receipt or tag in the windshield.
2. 14 - General No Standing: Standing or parking where standing is not allowed by sign, street marking or; traffic control device.

# Moving Violations

1. 36 - Exceeding the posted speed limit in or near a designated school zone.
2. 7 - Vehicles photographed going through a red light at an intersection

Consider Binning. 

Sample code below: 

```

# Look at INCOME_AMT value counts for binning
INCOME_AMT_count=application_df['INCOME_AMT'].value_counts()

# Visualize the value counts of INCOME_AMT
INCOME_AMT_count.plot.density()

---

# Determine which values to replace if counts are less than ...?
replace_INCOME_AMT = list(INCOME_AMT_count[INCOME_AMT_count < 500].index)


# Replace in dataframe
for app in replace_INCOME_AMT:
    application_df.INCOME_AMT = application_df.INCOME_AMT.replace(app,"5M+")
    
# Check to make sure binning was successful
application_df.INCOME_AMT.value_counts()
```